__pycache__
*.pyc
.vscode
*.pcm
*.d
*.so
.DS_Store
runanalysistask/AODfiles
runanalysistask/*.pdf
runanalysistask/*.root
runanalysistask/*.xml
cutobjects/*.root
cutobjects/*/*.root
filterdata/*.root
filterdata/*.parquet*
