__pycache__
inputs
outputs
*.eps
configfiles/*_local.yml
*.pyc
*.pdf
.vscode
*.pcm
*.d
*.so
*/*.pcm
*/*.d
*/*.so
.DS_Store
runanalysistask/AODfiles
runanalysistask/*.pdf
runanalysistask/*.root
runanalysistask/*.xml
cutobjects/*.root
cutobjects/*/*.root