# C/C++
*.d
*.pcm
*.so

# ROOT Files
**ACLiC**
/*.root
runanalysistask/AODfiles
runanalysistask/ESDfiles
runanalysistask/*.pdf
runanalysistask/*.root
runanalysistask/*/*.root
runanalysistask/*.xml
cutobjects/**/*.root
filterdata/**/*.root
AnalysisResults/
optimisation/*.root
run3/flow/Results/*
# python/ML
__pycache__
*.pyc
*.pickle
*.model
*.pkl
*.parquet.gzip

# misc
.vscode
.DS_Store
*.log

# Graphics
*.pdf
*.png
*.jpg
*.jpeg
*.eps
